.a{
    border: 3px solid black;
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 50px;
    box-shadow: 40px 20px rgb(219, 221, 216);
}
.b{
    border-radius: 2px;
}
hr{
    border: 6px solid green;
    height: 700px;
    position: absolute;
    left: 50%;
    
    top: 0;
}