body{
    display: flex;
    gap: 20vh;
    background-color: aquamarine;
    padding: 20px;

}
.a{
    border: 2px solid black;
    
}
    
.b{
    border: 2px solid black;
}
.c{
    border: 2px solid black;
}